{% load static %}
<nav class="fixed-top navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="{% static 'images/logo.png' %}" width="45" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashborad</a>
        <a class="nav-link" href="{% url 'produk' %}">Produk</a>
      </div>
    </div>
  </div>
</nav>
