{% load static %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <img src="{% static 'images/logo.png' %}" width="40" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if request.user.is_staff %}
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        <a class="nav-link" href="{% url 'products' %}">Products</a>
        {% else %}
        <a class="nav-link" href="{% url 'account' %}">Settings</a>
        {% endif %}
      </div>
    </div>
  </div>

  <span class="text-light">
    Hello,<span class="text-warning">{{request.user}}</span>
  </span>
  <span>
    <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-light mx-3">
      Logout
    </a>
  </span>
</nav>
